<div class="parent">
  <mat-form-field>
    <div style="text-align:center;">

      <mat-toolbar *ngIf="currentFile" class="progress-bar">
        <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
        <span class="progress">{{ progress }}%</span>
      </mat-toolbar>


      <mat-toolbar>
        <input matInput [value]="fileName" />
      </mat-toolbar>
      <input type="file" id="fileInput"  accept="text/xml" (change)="selectFile($event)" name="fileInput" />

      <div *ngIf="message" class="message">
        {{ message }}
      </div>
    </div>
  </mat-form-field>

  
  <button mat-flat-button color="primary" [disabled]="!currentFile" (click)="upload()">
    Upload
  </button>
</div>